<?xml version="1.0"?>

<config>
    <sections>
        <payment translate="label" module="dlpayeer">
            <groups>
                <dlpayeer translate="label" module="dlpayeer">
                    <label>Payeer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
						
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						
                        <payment_text translate="label">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_text>
						
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>

                        <heading_payeer translate="label">
                            <label>Payeer Gateway options</label>
                            <frontend_model>dlpayeer/adminhtml_system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_payeer>
						
                        <enable_log translate="label comment">
                            <label>Path to file to log payments through Payeer (for example, /payeer_orders.log)</label>
                            <comment><![CDATA[If a path is not specified, the log is not written]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enable_log>
						
						<sMerchantURL translate="label comment">
                            <label>Merchant URL</label>
                            <comment><![CDATA[url for payment in the system Payeer]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </sMerchantURL>
						
                        <sMerchantID translate="label comment">
                            <label>Merchant ID</label>
                            <comment><![CDATA[Store ID, registered in the system PAYEER. It can be found in your <a href='http://www.payeer.com/account/'>account Payeer</a>: Account -> My store -> Edit.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </sMerchantID>

                        <sMerchantSecret translate="label comment">
                            <label>Secret key</label>
                            <comment><![CDATA[the Secret key to the notification about the execution of the payment, which is used to verify the integrity of the received information, unequivocal identification of the sender. Must be the same private key specified by <a href='http://www.payeer.com/account/'>account Payeer</a>: Account -> My store -> Edit.]]></comment>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </sMerchantSecret>

                        <IPFilter translate="label comment">
                            <label>IP Filter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </IPFilter>
						
						<sAdminEmail translate="label comment">
                            <label>Admin Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </sAdminEmail>

                        <heading_restrictions translate="label">
                            <label>Restrictions</label>
                            <frontend_model>dlpayeer/adminhtml_system_config_form_field_heading</frontend_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_restrictions>
						
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>710</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
						
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>720</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>
						
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>730</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
						
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>740</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                    </fields>
                </dlpayeer>
            </groups>
        </payment>
    </sections>
</config>